<!DOCTYPE html>
<html>
  <head>
    <title>CAP 2022</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style type="text/css">
    .container {
      max-width: 500px;
    }
  </style>
  <body>

    <div class="container">

        {% for question in form %}

        {% endfor %}
        <h1>ERRADA</h1>
        <h2>RESPOSTA CORRECTA</h2>
        <h3>{{r}}</h3>
        <form action="./" method="post">
        <input type="submit" name="submit_button" value="Proxima">
    </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>