<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/styles_quiz.css">
</head> 
    <body>
        <div class="titulo" id="tit">
            <div class = "info">
                <a> Qtd. preg.: &nbsp;{{qtd}}</a>  
                <a> Cod. preg.: &nbsp;{{cod}}</a>
            </div>
            <div class="tit">
                <a> CAP 2022</a>
            </div>
            <div class="check">
                <a>Dak mode</a>
                <input type="checkbox" id="switch">
            </div>           
        </div>
        <div class="btn">
            <div class="perg">
                <a>Pregunta: {{perg}}</a>
            </div>            
            <form class="alt" action="/" method="POST" role="form">
                <button id="btn_a" type="submit" name="submit_button" value="A">A: {{alt1}}</button>
                <button id="btn_b" type="submit" name="submit_button" value="B">B: {{alt2}}</button>
                <button id="btn_c" type="submit" name="submit_button" value="C">C: {{alt3}}</button>
                <button id="btn_d" type="submit" name="submit_button" value="D">D: {{alt4}}</button>
            </form>
            <div class = "leg">
                <div class="ref">
                    <a>&nbsp;{{res}}&nbsp;</a> 
                    <a>&nbsp;{{norma}}&nbsp;</a>
                    <a>&nbsp;{{ref}}&nbsp;</a>
                </div>
                <div class="envio">
                    <form class="perg2" action="/" method="POST" role="form">
                        <button id="btn_nr" type="submit" name="submit_button" value="No Responder">NO RESPONDER</button>
                        <button id="btn_p" type="submit" name="submit_button" value="No Responder">PROXIMA PREGUNTA</button>
                    </form>
                </div>               
            </div>
        </div>
        <script src="/static/styles/scrypt_quiz.js" defer></script>
    </body>
</html>
