:root{
    --pri-color: #6c71db;
    --sec-color:#4b528f;
    --font-color:rgb(0, 0, 0);
    transition: .5;
}
.dark-mode:root{
    --pri-color: #25274d;
    --sec-color:#353A65;
    --font-color:#fff;
    transition: .5s;
}

*{  
    padding: 1px 1px 0px 1px;
    background: var(--sec-color);
    display: flex;
    flex-flow: column nowrap;
}
.titulo{
    color: var(--font-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}
.titulo .tit{
    font-size: 5vh;
    font-weight: bolder;
    height: auto;
    transition: .5s;
}
.titulo .info{
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
    font-weight: bold;
}
.titulo .check{
    align-items:flex-end;
    height: auto;
}
.titulo .check input{
    cursor: pointer;
}
.btn {
    background: var(--pri-color);
    border-radius: 20px;
}
.btn .perg{
    display: flex;
    background-color: var(--pri-color);
    color: var(--font-color);
    border-radius: 20px;
    font-size: 2em;
    transition: .5s;
}
.btn .perg a{
    background-color: var(--pri-color);
    border-radius: 20px;
    padding: 10px;
}
.btn .alt{
    display: flex;
    background-color: var(--pri-color);
    border-radius: 20px;
    font-size: 2em;
    background: var(--pri-color);
    color: var(--font-color);
    flex-flow: column nowrap;
    border-left: 10px;
    border-radius: 20px;
    padding: 4px;
}
button{
    background-color:var(--sec-color);
    color: var(--font-color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #919191;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: var(--pri-color);
    color: var(--font-color);
}
#btn_nr{
    background-color: #4169E1;
}
#btn_nr:hover{
    background-color: var(--pri-color);
    color: var(--font-color);
}
#btn_p{
    background-color: #DAA520;
}
#btn_p:hover{
    background-color: #BDB76B;
    color: var(--font-color);
}
.btn .leg .envio{
    display: flex;
    background: var(--pri-color);
    border-radius: 20px;
}
.btn .leg .envio .perg2{
    background-color: var(--pri-color);
    border-radius: 20px;
    flex-direction: row;
}
.btn .leg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--pri-color);
}
.btn .leg .ref{
    display: flex;
    font-size: 2vh;
    flex-direction: column;
    background: var(--pri-color);
    color: var(--font-color);
    border-radius: 20px;
    padding: 7px;
    font-weight: bold;
}
.btn .leg .ref a{
    background-color: var(--pri-color);
    border-radius: 20px;
}


/* responsive */

@media (max-width: 680px), screen and (orientation: portrait) {
    *{  
        padding: 1px 1px 0px 1px;
        background: var(--sec-color);
        display: flex;
        flex-flow: column nowrap;
    }
    body{
        padding: 0px;
        margin: 0;
    }
    .titulo{
        color: var(--font-color);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content:space-between;
    }
    .titulo .tit{
        font-size: 4vh;
        font-weight: bolder;
        height: auto;
        transition: .5s;
    }
    .titulo .info{
        font-size: 1vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto;
        font-weight: bold;
    }
    .titulo .check{
        align-items:flex-end;
        height: auto;
        font-size: 2vh;
    }
    .titulo .check input{
        cursor: pointer;
    }
    .btn {
        background: var(--pri-color);
        border-radius: 20px;
    }
    .btn .perg{
        display: flex;
        background-color: var(--pri-color);
        color: var(--font-color);
        border-radius: 20px;
        font-size: 3vh;
        transition: .5s;
    }
    .btn .perg a{
        background-color: var(--pri-color);
        border-radius: 20px;
        padding: 10px;
    }
    button{
        background-color:var(--sec-color);
        color: var(--font-color);
        padding: 4vh;
        border-radius: 20px;
        border: 1px solid #919191;
        font-size: 2vh;
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
    }
    button:hover{
        background-color: var(--pri-color);
        color: var(--font-color);
    }
    #btn_nr{
        background-color: #4169E1;
    }
    #btn_nr:hover{
        background-color: var(--pri-color);
        color: var(--font-color);
    }
    #btn_p{
        background-color: #DAA520;
    }
    #btn_p:hover{
        background-color: #BDB76B;
        color: var(--font-color);
    }
    .btn .leg{
        display: inline-block;
        flex-direction:row;
        justify-content: space-between;
        border-radius: 10px;
        background: var(--pri-color);
    }
    .btn .leg .ref{
        display:flex;
        font-size: 20px;
        flex-direction: column;
        background: var(--pri-color);
        color: var(--font-color);
        border-radius: 20px;
        padding: 7px;
        font-weight: bold;
    }
    .btn .leg .ref a{
        background-color: var(--pri-color);
        border-radius: 20px;
    }
}