:root{
    --pri-color: #6c71db;
    --sec-color:#4b528f;
    --font-color:rgb(0, 0, 0);
    transition: 1;
}
.dark-mode:root{
    --pri-color: #25274d;
    --sec-color:#353A65;
    --font-color:#fff;
    transition: 1s;
}

*{  
    padding: 1px 1px 0px 1px;
    background: var(--sec-color);
    display: flex;
    flex-flow: column nowrap;
}

.titulo {
    font-size: 5vh;
    color: var(--font-color);
    background: var(--sec-color);  
    border-radius: 20px;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}
.titulo input{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}
.titulo a1{
    font-size: 10px;
}
.btn {
    background: var(--pri-color);
    border-radius: 20px;
}
form{
    display: flex;
    background-color: var(--pri-color);
    border-radius: 20px;
}
button{
    background-color:var(--sec-color);
    color: var(--font-color);
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    margin-left: 5px;
}
button:hover{
    background-color: var(--pri-color);
    color: var(--font-color);
}
#btn_nr{
    background-color: #4169E1;
}
#btn_nr:hover{
    background-color: var(--pri-color);
    color: var(--font-color);
}
#btn_p{
    background-color: #DAA520;
}
#btn_p:hover{
    background-color: #BDB76B;
    color: var(--font-color);
}
.perg2{
    display: flex;
    flex-direction: row;
}

h3{
    font-size: 2em;
    background: var(--pri-color);
    color: var(--font-color);
    flex-flow: column nowrap;
    border-radius: 20px;

    padding: 4px;

}
h5{

    border-radius: 20px;
    background: var(--pri-color);
}
.leg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--pri-color);
}

/* responsive */

@media (min-height: 680px), screen and (orientation: portrait) {
    *{  
        padding: 1px 1px 1px 1px;
        display: flex;
        flex-flow: column nowrap;
    }
    body{
        border-radius: 20px;
    }
    .flex-container {
        border-radius: 20px;
    }
    form{
        display: flex;
        border-radius: 20px;
    }
    button{
        color: var(--font-color);
        padding: 60px;
        border-radius: 20px;
        border: none;
        border: 1px solid #919191;
        font-size: 2vh;
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
        margin-left: 5px;
    }
    button:hover{
        background-color: var(--pri-color);
        color: var(--font-color);
    }
    #btn_nr{
        background-color: #4169E1;
        padding: 40px;
    }
    #btn_nr:hover{
        background-color: var(--pri-color);
        color: var(--font-color);
    }
    #btn_p{
        background-color: #DAA520;
        padding: 40px;
    }
    #btn_p:hover{
        background-color: #BDB76B;
        color: var(--font-color);
    }
    .perg2{
        display: flex;
        flex-direction: row;
    }
    h1{
        font-size: 2vh;
        color: var(--font-color);
        border-radius: 20px;  
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    h3{
        font-size: 3vh;
        color: var(--font-color);
        flex-flow: column nowrap;
        border-radius: 20px;
        padding: 20px;
    
    }
    h5{
        display:none;
        border-radius: 20px;
        font-size: 0.5vh;
    }
    .leg{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 20px;
    }
}