*{  
    margin: 2px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    background: #747edd;
    display: flex;
    flex-flow: column nowrap;
}
body{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    background: #25274d;
    border-radius: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background: #29658a;
    border-radius: 20px;

}
form{
    font-size: 2em;
    color: white;
    display: flex;
    background-color: #25274d;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;

}
form:hover{
    color: #000000;
}
h1{
    font-size: 2em;
    display: flex;
    color: white;
    background: #25274d;    justify-content: center;
}
h3{
    font-size: 2em;
    display: flex;
    background: #2d9cca;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    border-radius: 20px;
    border: 2px solid #000000;
}
.alt{
    display: flex;

    padding: 4px 2px;
    border: 2px;
    border: 2px solid #000000;
    background: #25274d;
    border-radius: 20px;
    justify-content: center;
    flex-flow: column nowrap;
}
h4{
    font-size: 1.7em;
    display: flex;

    padding: 4px 2px;
    border: 2px;
    border: 2px solid #000000;
    background: #29658a;
    border-radius: 20px;
    justify-content: center;
    flex-flow: column nowrap;
}
h4:hover{
    color: #000000;
    background: #3d96ce;
}
.leg{

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: #25274d;
    border-radius: 20px;
}
h5{
    display: flex;

    background: #747edd;
    flex-flow: column nowrap;
    justify-content: center;
    border-radius: 10px;
}